:root {
    --color-azul-linde: #1469B8;
    --color-azul-escuro: #0b355d;
}

body { font-family: 'Ropa Sans', sans-serif; font-size: 1.06rem; }

.bg-azul-linde {
    background-color: var(--color-azul-linde);
}
.bg-azul-escuro {
    background-color: var(--color-azul-escuro);
}

.text-azul-linde {
    color: var(--color-azul-linde);
}
.text-azul-escuro {
    color: var(--color-azul-escuro);
}

/* TOPO */
#logo-topo { height: 50px; width: auto; }

/* MENU */
#menu { background-color: #0b355d; font-family: 'Ropa Sans', sans-serif; font-size: 1.125rem; padding: 0; }
#navbar-menu-principal .navbar-brand, #navbar-menu-principal .nav-link { color: #FFF; }
#navbar-menu-principal .navbar-brand:hover, #navbar-menu-principal .nav-link:hover { color: #3988e8; }

#navbar-menu-principal .dropdown-item:hover { background-color: #0b355d; color: #FFF; }

.text-justify { text-indent: 2rem; text-align: justify; }

.text-muted-50 { color: #BBB; }
.text-muted-75 { color: #DDD; }

/* Título */
h2 { color: var(--color-azul-linde); font-size: 1.8rem; margin: 20px 0; }
h3 { color: #AF3335; font-size: 1.5rem; margin: 20px 0; }

/* RODAPÉ */
#rodape { background-color: #0b355d; color: #589ad8; padding: 50px 0; margin-top: -10px }
#rodape a { color: #589ad8; text-decoration: none; }
#rodape a:hover { color: #91c2ef; text-decoration: none; }

/* DESENVOLVIDO */
#desenvolvido { background-color: #1469B8; color: #0b355d; text-align: center; font-size: .88rem; }
#desenvolvido a { color: #0b355d; }

/* BOTÃO VOLTAR AO TOPO */
a[href="#top"] { padding: 10px; position:fixed; top: 90%; right: 40px; display: none; font-size: 2rem; z-index: 1; color: #DDD; }
a[href="#top"]:hover { text-decoration: none; color: #FFF; }