.navbar-inverse { background-color: #0b355d; border: none; }
.navbar-inverse .navbar-brand { color: #FFF; }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: #95c3ee; background-color: transparent; }
.navbar-inverse .navbar-text { color: #FFF; }
.navbar-inverse .navbar-nav > li > a { color: #FFF; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #95c3ee; background-color: transparent; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: #FFF; background-color: #07213a; }
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus { color: #07213a; background-color: transparent; }
.navbar-inverse .navbar-toggle { border-color: #0b355d; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #1469B8; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #FFF; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #0b355d; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: #fff; background-color: #07213a; }
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #07213a; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #07213a; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #FFF; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #95c3ee; background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { color: #95c3ee; background-color: #07213a; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #07213a; background-color: transparent; }
}
.navbar-inverse .navbar-link { color: #FFF; }
.navbar-inverse .navbar-link:hover { color: #95c3ee; }
.navbar-inverse .btn-link { color: #FFF; }
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus { color: #95c3ee; }
.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus { color: #07213a; }