<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <system.webServer>
	<!-- <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors> -->
	<rewrite>
      <rules>
	     <rule name="Redirect to https" stopProcessing="true">
		       <match url="(.*)" />
         			<conditions>
				          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
			         </conditions>
				          <action type="Redirect" url="https://www.lindevidros.com.br{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
	     </rule>		
		
		
		<rule name="Ferragens" stopProcessing="true">
		  <match url="^ferragens-info/([^/] )/?$" />
			<conditions>
			  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
		  <action type="Rewrite" url="ferragens-detalhes.php?produto={R:1}" />
		</rule>
				
		<rule name="Remove Ext" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
 </location>
    <location path="" overrideMode="Inherit">
        <system.webServer>
            <urlCompression doDynamicCompression="false" />
            <handlers>
                <add name="PHP-FastCGI7.4" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.4\php-cgi_4.exe" resourceType="File" />
            </handlers>
            <defaultDocument enabled="true">
                <files>
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="index.php" />
                    <add value="index.asp" />
                    <add value="default.asp" />
                    <add value="index.aspx" />
                    <add value="default.aspx" />
                    <add value="Login.aspx" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
