#conteudo { margin-top: 30px; }

h1 { font-size: 28px; font-family: "Ubuntu", sans-serif; color: #333; }
h2 { font-size: 24px; font-family: "Ubuntu", sans-serif; color: #1469B8; }

#well-site { background: #F6F6F6; border: 1px solid #E8E8E8; box-shadow: none; }

label.radio { font-weight: 100; }

footer { margin-bottom: 40px; }